version: "3.9"

services:
  gateway-service:
    container_name: gateway-service
    build: ./gateway-service
    ports:
      - "3003:3003"
    networks:
      - my_network
    restart: unless-stopped

  user-service:
    container_name: user-service
    build: ./user-service
    ports:
      - "3000:3000"
    networks:
      - my_network
    restart: unless-stopped

  order-service:
    container_name: order-service
    build: ./order-service
    ports:
      - "3002:3002"
    networks:
      - my_network
    restart: unless-stopped

  product-service:
    container_name: product-service
    build: ./product-service
    ports:
      - "3001:3001"
    networks:
      - my_network
    restart: unless-stopped

networks:
  my_network:
    driver: bridge